POSTGRES_DB=insert database name here
POSTGRES_USER=insert database user here
POSTGRES_PASSWORD=insert database password here
GITHUB_CLIENT_ID=your_github_client_id
GITHUB_CLIENT_SECRET=your_github_client_secret
