POSTGRES_DB=your_database_name_here
POSTGRES_USER=your_database_user_here
POSTGRES_PASSWORD=your_database_password_here
GITHUB_CLIENT_ID=your_github_client_id
GITHUB_CLIENT_SECRET=your_github_client_secret
SESSION_SECRET=your_session_secret_here