.container {
	height: 100%;
	width: 100%;
}

.relativeContainer {
	height: 100%;
	width: 100%;
	position: relative;
}

.editorHost {
	height: 100%;
	width: 100%;
}

.hidden {
	display: none;
}

.errorMessage {
	color: red;
	padding: 10px;
	border: 1px solid red;
}

.loadingOverlay {
	padding: 10px;
	position: absolute;
	inset: 0;
}
